<div class="border-bottom row" style="margin-botton: 16px;padding-bottom: 8px">
  <div class="col-9">
    <h4 style="color:rgb(120, 120, 120); margin-bottom:4px;">
      {{job['TITLE']}}
    </h4>
    <div>
      <b>Location:</b> {{job['LOCATION']}}
    </div>
    <div>
      <b>Salary:</b> {{job['SALARY']}}
    </div>
  </div>
  <div class="col-3">
    <a href="mailto:hello@joevian.ai?subject=Application%20for%20{{job['TITLE']}}&body=My%20Name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20Resume%20link%3A%20%3Cresume%20link%3E%0D%0A%0D%0AMy%20LinkedIn%20link%3A%20%3CLinkedIn%20link%3E" type="button" class="btn btn-outline-primary mt-4">Apply</a>
  </div>
 
</div>